* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(167, 164, 164);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(225, 225, 225);
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.7rem;
  margin-top: 0.7rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 0.7rem;
}
.show {
  margin-right: 2rem;
}

.head {
  background-color: rgb(118, 48, 230);
  height: 3rem;
  text-align: right;
  border-radius: 0.2rem;
  padding-top: 0.2rem;
}
button {
  background-color: black;
  color: white;
  padding: 0.3rem 1.5rem;
  font-size: 2.3rem;
  border-radius: 10%;
  cursor: pointer;
  border: none;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 18px;
}
.plus { 
  background-color: orange;
}
.minus {
  background-color: purple;
}
.mul {
  background-color: rgb(44, 231, 200);
}
.divie {
  background-color: green;
}
.C {
  background-color: red;
}
.equal {
  background-color: rgb(255, 31, 184);
}
